:root {
  --queen-blue: #587291;
  --blue-green: #2f97c1;
  --dark-turquoise: #1ccad8;
  --turquoise: #15e6cd;
  --spring-green: #0cf574;
  --red-element: rgb(190, 70, 70);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: rgb(243, 243, 243);
  color: rgb(22, 24, 24);
}

button, input, textarea {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}
